@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.half {
  width: 50%;
}

.flex {
  display: flex;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #282828;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #6638F0;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: inline-block;
  max-width: 8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#secondary-btn {
  background-color: #6638F0;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: inline-block;
  max-width: 8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: white;
  color: #6638F0;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  display: inline-block;
  max-width: 8rem;
  text-align: center;
}

.container {
  width: 78%;
  max-width: 42%;
  margin: 1rem auto;
  padding: 2rem;
  border: 1px solid #EEECF1;
  position: relative;
}

.container--content {
  width: 69%;
}

.container--graphic {
  position: absolute;
  top: 1rem;
  right: -3rem;
}

.modal-container {
  width: 78%;
  max-width: 42%;
  margin: 1rem auto;
  padding: 2rem;
  border: 1px solid #EEECF1;
  position: relative;
  max-width: 52%;
  width: 78%;
  margin: 1rem auto;
  padding: 0;
  border: 1px solid #EEECF1;
  position: relative;
  border-radius: 0.5rem;
  position: relative;
  bottom: 19rem;
  background-color: white;
}

.modal--gradient {
  background-image: linear-gradient(to bottom right, #6638F0, #5CC9F5);
  background-size: cover;
  border-radius: 0.5rem 0 0 0.5rem;
  margin-right: 2rem;
}

.modal--content {
  padding: 2rem 3rem 4rem 0rem;
}
.modal--content p {
  padding-bottom: 1rem;
}
.modal--content img {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 360px) {
  .container {
    max-width: none;
  }
  .container .container--graphic {
    top: 11rem;
    right: -2rem;
  }
  .container .container--graphic img {
    width: 8rem;
  }
  .modal-container {
    max-width: 78%;
  }
  .modal-container .modal--gradient {
    width: 0;
  }
  .modal-container .modal--content {
    width: auto;
  }
}
@media (min-width: 428px) {
  .container .container--graphic {
    top: 5rem;
    right: -2rem;
  }
  .container .container--graphic img {
    width: 10rem;
  }
}
@media (min-width: 576px) {
  .container .container--graphic {
    top: 5rem;
    right: -3rem;
  }
  .container .container--graphic img {
    width: 12rem;
  }
}
@media (min-width: 706px) {
  .container .container--graphic {
    top: 4rem;
    right: -3rem;
  }
  .container .container--graphic img {
    width: 13rem;
  }
  .modal-container {
    max-width: 78%;
  }
  .modal-container .modal--gradient {
    width: 50%;
  }
  .modal-container .modal--content {
    width: 50%;
  }
}
@media (min-width: 808px) {
  .container .container--graphic {
    top: 1.5rem;
  }
  .container .container--graphic img {
    width: 15rem;
  }
}/*# sourceMappingURL=styles.css.map */