// font-family
$poppins: 'Poppins', sans-serif;

// font-weights
$poppins-regular: 400;
$poppins-semibold: 600;

// font-sizes
$h1-size: 1.5rem;

$p-size: 1rem;

$a-size: 1rem;

// colors
$primary-color: #6638F0;
$secondary-color: #5CC9F5;
$border-color: #EEECF1;
$h1-color: #282828;
$p-color: #555555;

// borders
$container-border: 1px solid $border-color;  

// padding
$container-padding: 2rem;



